:root {
    overflow: none
}

body {
    color: black;
    text-align: center;
    background-color: cornflowerblue;
    height: 4000px
}

.nav {
    text-align: center;
    background-color: lightblue;
    display: inline-block;
    width: 100%
}

.navbar {
    background-color: mediumorchid;
    padding: 0px;
}

.nav-item {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-right: 2rem;
    padding-left: 2rem
}

.nav-item:hover {
    color: black;
    background-color: darkorchid;
}