body {
    color: black;
    text-align: center;
    background-color: cornflowerblue;
}

main {
    margin: auto;
    width: 100%;
    background-color: #D7E3FC;
    text-align: center;
}

footer {
    background-color: #D7E3FC;
    padding-bottom: 3rem;
}

article {
    width: 50%;
    margin: auto;
    font-size: 18px;
}

.nav {
    text-align: center;
    background-color: lightblue;
    display: inline-block;
    width: 100%
}

.nav img:hover, .nav h1:hover {
    cursor: pointer;
}

.navbar {
    background-color: mediumorchid;
    padding: 0px;
}

.nav-item {
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem
}

.nav-link {
    font-weight: 400;
    color: black;
}

.dropdown-menu a {
    color: black;
    font-weight: 500;
}

.dropdown-menu a:hover{
    color: black;
    background-color: darkorchid;
}

#more:hover {
    color: black;
    background-color: darkorchid;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

ul.dropdown-menu {
    left: 2rem !important;
    background-color: mediumorchid;
    border: none;
    border-radius: 0px;
}

.btn-custom {
    border:2px solid var(--bs-primary);
    color: black;
    background-color: transparent;
    transition: all 0.3s ease-in-out
}

.btn-custom:hover {
    border: 2px solid var(--bs-primary);
    background-color: var(--bs-primary-border-subtle);
    transform: scale(1.05);
}

.divider-main {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 3px;
    color: mediumorchid;
    border-color: mediumorchid;
    border-top: 3px solid;
    opacity: 1;
}

.divider-footer {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    height: 2px;
    color: darkorange;
    border-color: darkorange;
    border-top: 2px solid;
    opacity: 1;
}

.click-box {
    background-color: #a2c7fa;
    border: 2px solid var(--bs-primary);
    border-radius: 10px;
    transition: all 0.3s ease-in-out
}

.click-box:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #a2c7faaa;
}

.dealer {
    border: 1px solid black;
}

figure {
    display: inline-block;
    transition: all 0.2s ease-in-out
}

figure:hover {
    transform: scale(1.05);
}

.sillycat {
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1,0.7,1);
}

.sillycat:hover {
    transform: rotate(2160deg) scale(1.2);
}

.foot a {
    text-decoration: none;
    border-bottom: 1px dotted crimson;
    color: crimson;
    padding-right: 2px;
    padding-left: 2px;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted crimson;
    color: crimson;
    padding-right: 2px;
    padding-left: 2px;
}

.attribute, .attribute a {
    font-size: 14px;
}

.purple {
    color: darkorange
}

.crimson {
    color: green
}

.to-top {
    font-size: 24px;
    position: fixed;
    background-color: lightblue;
    border: 5px solid cornflowerblue;
    border-radius: 5px;
    top: 85%;
    left: 85%;
}

.to-top a {
    color: crimson;
}